 body {background-color: aquamarine;
    margin: 0%;
    padding: 0;}
    
    
    header{ background-color: blueviolet;
    display: flex;
    justify-content: space-around;}
    
    .imagem{width: 15%;}

    .escoal{ display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px; 0;}

        .imagem-section{width: 30%;}
        .escoala-conteudo{width: 30%;}